body{
    background:#ffe9e9;
    font-family: 'Lato Bold', 'Lato Regular', 'Lato', 
}

.button{
    background: #f46169;
    color: #ffffff;
    border-radius: 40px;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 4px 0px rgba(66, 83, 159, 0.35), inset 1px 2px 4px 0px rgba(66, 83, 159, 0);
}
